[Unit]
Description=Gunicorn your_fastapi_app_name for FastAPI Application
After=network.target

[Service]
User=demo
Group=www-data
WorkingDirectory=/root/fastapi/fast-api-dev
ExecStart=/root/fastapi/fast-api-dev/bin/gunicorn -c gunicorn_conf.py main:app

[Install]
WantedBy=multi-user.target
